body {
  font-family: "Manrope", sans-serif;
  background-color: black;
}

.c-item {
  height: 590px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

h1 {
  color: aliceblue;
  text-align: center;
  padding: 20px;
}
.navbar {
  background-color: black;
}

.navbar-text,
.navbar-brand,
.nav-link {
  color: aliceblue !important;
}

.c-list {
  height: 100%;
}

.c-group {
  max-width: 480px;
  margin: auto;
  color: aliceblue;
  padding-top: 40px;
}

.check-out {
  color: black;
}

.sign-in {
  text-align: center;
  color: white;
}

.login {
  color: white;
}
