body {
  font-family: "Manrope", sans-serif;
  background-color: black;
}

h1 {
  text-align: center;
  color: aliceblue;
}

h2 {
  text-align: center;
  color: aliceblue;
}

.c-item {
  height: 600px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}
